<h1>Admin Page</h1>

<h3><%= link_to 'Add New Cat', new_cat_path %></h3>

<h3><%= link_to 'Add New Event', new_event_path %></h3>

<h3><%= link_to 'Add New FAQ', new_faq_path %></h3>

<h3><%= link_to 'Edit About', edit_about_path(@about) %></h3>

<h3><%= link_to 'Edit Contact', edit_contact_path(@contact) %></h3>
