<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
  	<% @cats.each_with_index do |cat, index| %>
    	<li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<% @cats.each do |cat| %>
      <div class="item">
        <%= link_to(image_tag(cat.pictures.first.image.url(:large)), cat_path(cat)) %>
      </div>
    <% end %>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
	<div class="row icon-row">

		<a href="/cats" class="icon-links">
			<div class="col-lg-4 col-md-4 col-sm-4 text-center homepage-icons">
				<i class="fa fa-paw"></i>
				<h3>Adopt</h3>
			</div>
		</a>

		<a href="/events" class="icon-links">
			<div class="col-lg-4 col-md-4 col-sm-4 text-center homepage-icons">
				<i class="fa fa-calendar"></i>
				<h3>Events</h3>
			</div>
		</a>

		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=VTCVTDARCH6UQ" class="icon-links" target="_blank">
			<div class="col-lg-4 col-md-4 col-sm-4 text-center homepage-icons">
				<i class="fa fa-heart"></i>
				<h3>Donate</h3>
			</div>
		</a>

	</div>
</div>

<div class="container-fluid homepage-text-container">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 homepage-text">
			<p>Leggings McSweeney's try-hard salvia put a bird on it scenester artisan fixie seitan, shabby chic sriracha. Health goth shabby chic tote bag biodiesel pug, tattooed asymmetrical polaroid next level Schlitz readymade Wes Anderson wolf ugh.</p>

			<p>Yr church-key keytar, raw denim Pinterest kogi Schlitz food truck 90's cardigan mixtape. Polaroid farm-to-table four loko chillwave flexitarian pickled, food truck cardigan sustainable slow-carb street art Truffaut Neutra.</p>
		</div>
		<div class="col-lg-0 col-md-0 col-sm-1 hidden-xs"></div>


		<div class="col-lg-0 col-md-0 col-sm-1 col-xs-1" style="margin-right:1px;"></div>
		<div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 homepage-text">
			<p>Leggings McSweeney's try-hard salvia put a bird on it scenester artisan fixie seitan, shabby chic sriracha. Health goth shabby chic tote bag biodiesel pug, tattooed asymmetrical polaroid next level Schlitz readymade Wes Anderson wolf ugh.</p>

			<p>Yr church-key keytar, raw denim Pinterest kogi Schlitz food truck 90's cardigan mixtape. Polaroid farm-to-table four loko chillwave flexitarian pickled, food truck cardigan sustainable slow-carb street art Truffaut Neutra.</p>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<% if admin_signed_in? %>
				<span>Logged in as: <%= current_admin.email %></span>
				<%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign In", new_admin_session_path %>
				<%= link_to "Sign Up", new_admin_registration_path %>
			<% end %>
		</div>
	</div>
</div>









