<h1>Faqs#edit</h1>
<p>Find me in app/views/faqs/edit.html.erb</p>

<%= form_for @faq do |f| %>

  <% if @faq.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this todo_list from being saved:</h2>
      <ul>

        <% @faq.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

      </ul>
    </div>

  <% end %>

    <%= f.label :question %>
    <%= f.text_field :question %>
    <br>

    <%= f.label :answer %>
    <%= f.text_area :answer %>
    <br>

    <%= f.submit %>

<% end %>

<%= link_to "Edit", edit_faq_path(@faq) %>
<%= link_to "Delete", faq_path(@faq), method: :delete, data: { confirm: "Are you sure?" } %>
