<div class="event-headers">
	<h1>Upcoming Events</h1>
</div>

<% if @upcoming %>
	<% @upcoming.each do |event| %>
		<a href="<%= event_path(event) %>" class="event-link-div">
			<div class="event-divs">
				<h2 class="event-title"><%= date_formatter(event.date) %> - <%= event.title %></h2>
			</div>
		</a>
	<% end %>
<% end %>

<div class="event-headers past-events">
	<h1>Past Events</h1>
</div>

<% if @past %>
	<% @past.each do |event| %>
		<a href="<%= event_path(event) %>" class="event-link-div">
			<div class="event-divs">
				<h2 class="event-title"><%= date_formatter(event.date) %> - <%= event.title %></h2>
			</div>
		</a>
	<% end %>
<% end %>


<div class="events-page-bottom"></div>