<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<%= form_for @event do |f| %>

  <% if @event.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this todo_list from being saved:</h2>
      <ul>

        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

      </ul>
    </div>

  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>

    <%= f.label :date %>
    <%= f.date_field(:date) %>
    <br>

    <%= f.label :location %>
    <%= f.text_area :location %>
    <br>

    <%= f.submit %>

<% end %>
