<h2><%= @event.title %></h2>
<p><%= @event.description %></p>
<p><%= @event.date %></p>
<p><%= @event.location %></p>


<%= link_to "Edit", edit_event_path(@event) %>
<%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>