<%= form_for @contact do |f| %>

  <% if @contact.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited About from being saved:</h2>
      <ul>

        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

      </ul>
    </div>

  <% end %>

    <%= f.label :header %>
    <%= f.text_field :header %>
    <br>

    <%= f.label :body %>
    <%= f.text_area :body %>
    <br>

    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <br>

    <%= f.submit %>

<% end %>
