<h1>Pictures#new</h1>
<p>Find me in app/views/pictures/new.html.erb</p>

<%= form_for [@cat, @picture], :html => { multipart: true } do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :image %>
  <%= f.file_field :image %>
 
  <%= f.submit %>

<% end %>