<h1><%= @cat.name %></h1>
<p><%= @cat.description %></p>

<% if @pictures %>
	<!-- make partial for this -->
	<% @pictures.each do |picture| %>
		<%= image_tag picture.image.url(:medium) %>
	<% end %>
<% end %>

<p class=""><%= link_to "Edit", edit_cat_path(@cat) %></p>
<p class=""><%= link_to "Delete", cat_path(@cat), method: :delete, data: { confirm: "Are you sure?" } %></p>