<h1>Cats#show</h1>
<p>Find me in app/views/cats/show.html.erb</p>

<% if @pictures %>
	<% @pictures.each do |picture| %>
		<h2><%= @cat.name %></h2>
		<%= image_tag picture.image.url(:medium) %>
		<p><%= @cat.description %></p>
	<% end %>
<% else %>
	<h2><%= @cat.name %></h2>
	<p><%= @cat.description %></p>
<% end %>