<!DOCTYPE html>
<html>
<head>
  <title>NycCatCoalition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span><%= link_to "Home", root_path %></span>
<span><%= link_to "Adopt", cats_path %></span>
<span><%= link_to "Events", events_path %></span>
<span><%= link_to "FAQ", faqs_path %></span>
<span><%= link_to "About", '/about' %></span>
<span><%= link_to "Contact", '/contact' %></span>
<% if admin_signed_in? %>
<p>Logged in as: <%= current_admin.email %></p>
<% end %>

<% if admin_signed_in? %>
	<span><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></span>
<% else %>
	<span><%= link_to "Sign In", new_admin_session_path %></span>
	<span><%= link_to "Sign Up", new_admin_registration_path %></span>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
